../.bash_history
../.bash_logout
../.bashrc
../.cache/
../.cloud-locale-test.skip
../.config/
../.copilot/
../.dotnet/
../.gitconfig
../.gnupg/
../.local/
../.profile
../.ssh/
../.vscode-shared/
../.vscode/
../my-devops-project/
../snap/
